:root { 
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --background-primary-color: #2F303A;
    --background-secondary-color: #F5F4FA;
    --white-color: #ffffff;
    --font-family: Roboto;
}
body {
    background-color: var(--white-color);
    color: var(--primary-color);
    font-family: var(--font-family), sana-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* Шапка */
.logo-accent {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-decoration: none;
}
.logo-header {
    color: #000000;
}
.header .link {
    color: var(--secondary-color);   
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header .link:hover,
.header .link:focus,
.header .link.current {
    color: var(--accent-color);
}
.contacts .link {
    color: var(--primary-color);    
}

/* Главное */
/* Главный герой */
.hero {
    background-color: var(--background-primary-color);  
}
.hero .title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.06em; 
    cursor: pointer;
}

/* Особенности */
.section-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.title {
    color: var(--secondary-color);
}
.features .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Команда */
.team {
    font-size: 16px;
    line-height: 1.19;
}
.team .title {  
    font-size: 16px;
    font-weight: 500;
}

/* Проекты */
.radio-button {
    color: var(--secondary-color);
    background-color: var(--background-secondary-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.radio-button:hover,
.radio-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.projects .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Подвал */
.footer {
    background-color: var(--background-primary-color);

}
.address {
    font-style: normal;
}
.logo-footer {
    color: var(--white-color);
}
.footer .list {
    color: var(--white-color);
    line-height: 1.7;
}
.footer .link {
    color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}